* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER STYLING */
header {
    position: relative;
    height: 900px;
    margin-top: -120px;
}
header::before{
    content: '';
    position: absolute;
    top: 0;
    width: 100%; height: 100%;
    z-index: -1;
    background: url("https://assets.nflxext.com/ffe/siteui/vlv3/e49aba81-ee7c-4f19-baef-7c54bbab003e/web/ZA-en-20260202-TRIFECTA-perspective_a667c852-384e-4f08-90ae-876f0148c710_large.jpg");
    background-repeat: none;
    background-size: fill;
    background-position: contain;
}
/* NAVBAR STYLING */
.navbar-container {
    height: 120px; width: 100%;
    padding: 0 148px;
}
nav {
    height: 80px; width: 100%;
    display: inline-flex;
    justify-content: space-between;
    margin-left: -16px;
    align-items: center;
    flex-wrap: wrap;
}

.netflix-logo {
    fill: #E50815;
    color: #E50815;
    background-color: #E50815;
    width: 148px;
}