@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
    font-family: 'Netflix Sans';
    src: url("./assets/Netflix\ Sans-fontiko/") format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Netflix Sans', "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif ;
    background-color: black;
}

.section-header-h2 {
    font-size: 32px;
    font-weight: 700;
    color: white;
}
.section-header-h3 {
    font-size: 24px;
    font-weight: 500;
    color: white;
}

/* HEADER STYLING */
header {
    position: relative;
    height: 900px; width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    background-color: black;
}
.header-img-container {
    position: absolute;
    width: 100%; height: 100%;
    background: url("https://assets.nflxext.com/ffe/siteui/vlv3/e49aba81-ee7c-4f19-baef-7c54bbab003e/web/ZA-en-20260202-TRIFECTA-perspective_a667c852-384e-4f08-90ae-876f0148c710_large.jpg");
    background-repeat: none;
    background-size: fill;
    background-position: contain;
    filter: brightness(30%);
}

/* NAVBAR STYLING */
.navbar-container {
    height: 7.5rem; width: 100%;
    max-width: 120rem;
    padding: 0 9.25rem;
    margin: 0 auto -7.5rem auto;
    position: absolute;
    top: 0px;
}
nav {
    height: 88px; width: 100%;
    display: inline-flex;
    justify-content: space-between;
    margin-left: -16px;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    fill: #E50815;
    width: 148px;
}

/* SIGN IN BUTTON */
.sign-in-btn-container {
    margin-left: 12px;
    height: 32px;
    cursor: pointer;
    z-index: 5;
}
.sign-in-btn-container a {
    text-decoration: none;
    height: 32px;
    background: #E50815;
    color: white;
    padding: 4px 16px;
    border-radius: 4px;
    font-size: 14px; font-weight: 500;
    
}

/* HEADER STYLING */
.header-content {
    padding-top: 100px;
    color: white;
    position: relative;
    height: 100%;  
}
.content-margin {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 0 2rem 2rem 2rem;
}
.content {
    width: 100%;
    max-width: 41.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.header-heading {
    margin-bottom: 1rem;
}
.header-heading h1 {
    font-size: 3.5rem;
    font-weight: 900;
}
.header-heading p {
    margin-bottom: 2rem;
    font-size: 1.25rem;
    font-weight: 500;
}

/* FORM INSIDE HEADER */
.form-container {
    border-radius: 8px;
    height: 96px;
    width: 100%; max-width: 48.9375rem;
}
.form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-content h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.form {
    height: 72px;
    display: flex;
    padding-top: 16px;
    width: 664px;
    justify-content: center;
}
.form input {
    width: 70%;
    background: rgba(0, 0, 0, 0.315);
    border: 1px solid #616161;
    padding: 15px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    color: white;

}
.form button {
    width: 30%;
    color: white;
    background-color: rgb(229, 9, 20);
    border: none;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-left: 8px;
    padding: 12px 24px;
    font-size: 23px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.form button svg {
    margin-left: 5px;
}

/* Curved Line Divider */
.curve-container {
    position: relative;
    width: 100%;
    height: 100px;
    background: rgba(0, 0, 0, 0);
    margin-top: -100px;
    z-index: 5;
}
.curved-line {
    position: absolute;
    width: 100%;
    height: 100px;
    border: 5px solid #df0a20;
    border-color: #df0a20 #df0a20 transparent #df0a20;
    background-color: black;
    border-radius: 10%/100px 100px 0 0;
}

/* AFTER HEADER, TRENDING NOW ONWARDS */

/* STYLES THE WHOLE BOTTOM SECTION */
main {
    background: black;
    max-width: 1920px;
}
.main-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 22.125rem;
    width: 100%;
}

/* TRENDING NOW */
.trending-now {
    width: 100%;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
}

.movies-container {
    padding-top: 16px;
    width: 100%;
}

.movies {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 214px;
    gap: 40px;
    overflow-x: scroll;
    scrollbar-gutter: stable;
    padding-left: 50px;
}
.movies::-webkit-scrollbar {
    height: 8px;
}
.movies::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.movie {
    height: 300px;
    width: 214px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    position: relative;
}
.movie img {
    height: 300px;
    width: 214px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.movie-num {
    position: absolute;
    bottom: 0px;
    left: -20px;
    font-size: 120px;
    font-stretch: 100%;
    font-weight: 700;
    color:rgb(0, 0, 0);
    text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 24px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 1px;
}

/* MORE REASONS TO JOIN */
.more-reasons-to-join {
    width: 100%; height: 383px;
    background: black;
    margin-bottom: 64px;
}
.more-reasons-to-join h2 {
    padding-top: 16px;
}
.reasons-cards {
    padding-top: 16px;
    display: flex;
}
.reason-card {
    height: 326px; width: 291px;
    padding: 32px 24px 128px 24px;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(149deg, rgb(25, 34, 71) 0%, rgb(33, 14, 23) 96.86%);
    backdrop-filter: blur(30px);
    margin-right: 20px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    
}
.reason-card .card-content {
    color: white;
}
.reason-card p {
    margin-top: 24px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
}
.reason-card .card-svg {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

/* VIDEO SECTION */
video-section {
    background-color: black;
    color: white;
    display: flex;
    padding: 70px 45px;
    border-bottom: 10px solid #222222;
    z-index: -1;
    align-items: center;
}
/* TEXT PART OF VIDEO SECTION */
.main-info-container {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-info-container p {
    margin-top: 10px;
}

.tv-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.tv-container img {
    z-index: 1;
}
.tv-container video {
    position: absolute;
    top: 100px;
    z-index: 0;
}

/* FREQUENTLY ASKED QUESTIONS */
.faq {
    width: 100%;
    background: black;
    color: white;
    margin-bottom: 64px;
}
.question-section {
    height: 100%;
    width: 100%;
    padding-top: 16px;
}
.question-section ul li {
    list-style-type: none;
    margin-bottom: 8px;
}
.question-section details {
    background-color: #2d2d2d;
    font-size: 24px
}
.question-section details summary {
    height: 84px; width: 100%;
    padding: 24px;
    background-color: #2d2d2d;
    list-style: none;
    display: flex;
    align-items: center;
}
.question-section details p {
    padding: 24px 24px 24px 24px;
}

/* FORM AT THE BOTTOM, MOSTLY SAME STYLING */
.form-bottom {
    color: white;
    width: 100%;
    margin-bottom: 64px;
    display: flex;
    justify-content: center;
}
.form-bottom .form-container .form-content .form input {
    width: 1000px;
}

/* FOOTER */
footer {
    height: 562px; width: 100%;
    padding-bottom: 96px;
}
.call-us {
    color: #bbbbbb;
    padding: 3px;
    margin-top: 36px;
}

.footer-links {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 36px;
}
.footer-link {
    list-style-type: none;
    text-decoration: underline;
    color: #b3b3b3;
    padding-right: 150px;
    font-size: 14px;
}
.footer-link ul {
    width: 100%;
}
.footer-link li {
    margin-bottom: 20px;
}

.choose-language-container {
    height: 32px;
    width: 124px;
    margin-top: 36px;
}

/* LANGUAGE SELECT */
.choose-language {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #5e5e5e;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: rgba(255, 255, 255, 0.027);
}
.lang-sym {
    color: white;
    margin-right: 7px;
}
.select-container {
    border: none;
    background-color: transparent;
    color: white;
}
.select-container select {
    width: 52px;
    height: 20px;
    font-size: 16px;
    font-weight: 400;
    appearance: none;
    background-color: transparent;
    color: white;
    border: none;
}
.arrow-container .arrow {
    color: white;
    margin-top: 2px;
    margin-left: 7px;
}

.company-name {
    margin-top: 36px;
    color: #b3b3b3;
    font-size: 14px;
}

.protected-by {
    height: 65px;
    margin-top: 36px;
    color: #808080;
    font-size: 13px;
}
.protected-by a {
    color: #448ef4;
}
