* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER STYLING */
header {
    position: relative;
    height: 900px;
    margin-top: -120px;
}
header::before{
    content: '';
    position: absolute;
    top: 0;
    width: 100%; height: 100%;
    z-index: -1;
    background: url("https://assets.nflxext.com/ffe/siteui/vlv3/e49aba81-ee7c-4f19-baef-7c54bbab003e/web/ZA-en-20260202-TRIFECTA-perspective_a667c852-384e-4f08-90ae-876f0148c710_large.jpg");
    background-repeat: none;
    background-size: fill;
    background-position: contain;
}
/* NAVBAR STYLING */
.navbar-containernav {
    height: 120px;
    background-color: red;
    padding: 0 148px;
    /* margin-bottom: -120px; */
}
nav {
    width: 100%;
    height: 100px;
}